@import url('https://fonts.googleapis.com/css2?family=Anta&family=Black+Ops+One&display=swap');

body {
    background-color: rgb(111,207,247);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.btn {
    background-color: royalblue;
    fontsize: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Black Ops One", sans-serif;
}

.btn:hover {
    opacity: 0.85;
}

.dropmenu {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 160px;
}

.menu {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 10px;
}

.work {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.work a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    justify-content: center;
}

.work a:hover {
    background-color: #ddd;
}

.menu:hover .work {
    display: block;
}

.menu:hover .dropmenu {
    background-color: #3e8e41;
}

